body {
    background-color: bisque;
}

#pies {
    display: flex;
    -webkit-flex-flow: row wrap;
}

.card {
    text-align: center;
    width: 30%;
    box-shadow:5px 5px 1px;
    border: 1px solid gray;
    margin-right: 40px;
    margin-top: 33px;
    background-color:#F5F5F5;
}

.img {
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10px;
}